<!DOCTYPE html>
<html lang="en" ng-app="handy">
<head>
   <% include ./partials/head %>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body>
<div id="wrapper">
    <% include ./partials/navbar %>
    <div id="page-wrapper">
    <body ng-app="handy">
  <div class="container jumbotron" ng-controller="handyController">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-5 col-lg-offset-3 col-lg-5">
      <h2>Add Services</h2>
      <!-- Form Starts Here -->
      <form class="form-horizontal" data-toggle="validator">
        <fieldset>
          <div class="form-group">
            <label for="serviceName" class="col-md-3 control-label">Name of Service</label>
            <div class="col-md-9">
              <input ng-model="fieldValue.serviceName" type="text" size="50" name="serviceName" value="fieldValue.serviceName" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="serviceAmount">Amount</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" ng-model="fieldValue.serviceAmount" name="serviceAmount" value="fieldValue.serviceAmount"class="form-control">
              <span class="input-group-btn">
                  <button class="btn btn-primary" ng-click="addService(fieldValue.serviceName,fieldValue.serviceAmount)" type="button"><span
                  class="glyphicon glyphicon-plus"></span>Add More</button>
                  <button class="btn btn-lg btn-raised btn-success" ng-click="saveService()" type="button">Save</button>
              </span>
            </div>
          </div>
          </fieldset>
      </form>
      </hr>
       <div class="row bg-info">              
            <table class=" table table-striped">
                <thead>
                  <tr>
                    <th>Name of Service</th>
                    <th>Amount</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="service in services">
                    <td>{{service.name}}</td>
                    <td>{{service.amount}}</td>
                    <td>
                      <div>
                          <span>
                            <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" 
                              ng-click="editService($index)"></span></button>
                            <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" 
                              ng-click="deleteService($index)"></span></button>
                          </span>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table> 
          </div>
    </div>
    </div>
</div>
  <% include ./partials/scriptsloader %>
  <script src="/public/js/handyangular.js"></script>
</body>
</html>