
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
   <% include ./partials/head %>

</head>
<!-- Sign Up FORM -->
<body data-vide-bg="/public/video/ocean">
  <div id="wrapper">
      <div class="container-fluid">
            <div class="row vertical-offset-100">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">

                        <form accept-charset="UTF-8" role="form" action="/signup" method="post" id="signupform" class="form-horizontal" data-toggle="validator">
                        
                        <div class="row">
                            <img src="/public/img/logo_full.png" class="img-responsive pull-right" alt="HandyGuy Logo" width="150" height= automatic > 
                        </div>
                    <fieldset>
                        <!-- Error Message if Account Already exists -->
                        <% if (message.length > 0) 
                            { %>
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                    <%= message %>  
                            </div>
                            <% } 
                         %>
                        <!-- Error Message ends if account Already Exists -->
                    <div class="form-group">
                    <legend class ="text-center"><h1>Create a New Account</h1></legend>
                      <label for="first_name label-floating" class="col-md-2 control-label">First Name</label>

                      <div class="col-md-10">
                        <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="on" required>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="last_name label-floating" class="col-md-2 control-label">Last Name</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" id="last_name" name="last_name" autocomplete="on" required>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="email label-floating" class="col-md-2 control-label">Email</label>
                      <div class="col-md-10">
                        <input type="email" class="form-control" id="email" name="email" autocomplete="off" data-error="Invalid-email" required>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password label-floating" class="col-md-2 control-label">Password</label>
                      <div class="col-md-10">
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off" data-minlength="6" required>
                        <div class="help-block">Minimum of 6 characters</div>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="confirmPassword label-floating" class="col-md-2 control-label">Re-type Password</label>
                      <div class="col-md-10">
                        <input type="password" class="form-control" id="confirmPassword" data-match="#password" data-match-error="Whoops, these don't match"autocomplete="off" required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" value="submit" class="btn btn-success">Get Started</button>
                    </div>
                    <div class="form-group text-center">
                        <p class="text-info"><a href="/login">Already Have Account? Sign In</a></p>
                    </div>
                    </div>
                    </fieldset>
                    </form>
                </div>
            </div> <!-- pannel -->
            </div> <!-- col-offset -->
        </div><!-- row -->
    </div><!-- container -->
  </div> <!-- wrapper -->


<!-- Scripts -->
<% include ./partials/scriptsloader %>
<script src="/public/js/pluggins/jquery.vide.js"></script>
</body>
</html>