/***************************
****************************
This is formatting for the date picker
****************************
***************************/

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .jumbotron{
      background-color:white;
  }
/* Formatting for login/signup page*/
.vertical-offset-100{
    padding-top:100px;
}
